@{
	ViewBag.Title = "Kabbage Web App";
	Layout = "~/Views/shared/_LayoutNg.cshtml";
}

@*URL : http://kabbageprequalapp.azurewebsites.net/#/*@

<div id="spaContainer" class="container container-fluid">
	<div id="mainContainer" class="box-shadow">

		@*header partial view here*@

		<div id="contentContainer">
			<div>
				<div id="ngViewContainer">
					<div data-ng-controller="spaController">
						<div class="ngPartialPage" data-ng-view="">
							<h2>Please wait ... </h2>
						</div>
					</div>
				</div>
			</div>

			@*footer partial view here*@
			@*@Html.Partial("_Footer")*@

		</div>
	</div>
</div>