<div class="col-md-12">
	<div class="col-md-10">
		<h3 class="page-header">
			About
		</h3>
	</div>
</div>
﻿<div class="col-md-12">
	<ul style="margin-top: 25px;">
		<li>Name : <a href="http://linkedin.com/in/Aarsh" target="_blank">Aarsh Talati, MCTS</a>. | Wordpress Blog : <a href="http://wildclick.wordpress.com/code" target="_blank">Wild Click</a> | twitter : <a href="http://www.twitter.com/AarshTalati" target="_blank">@AarshTalati</a></li>
		<li>Technologies Used : ASP.NET MVC, AngularJS, HTML 5, CSS 3, Bootstrap, toastr, font-awesome</li>
		<li>People are being queried from <a href="http://www.filltext.com/" target="_blank">http://www.filltext.com/</a> service</li>
		<li><a href="https://github.com/ablaze8/repositories" target="_blank">GitHub Repositories</a> and <a href="https://gist.github.com/ablaze8" target="_blank">Gists</a> | More @@ <a href="http://1drv.ms/1AfcPrI" target="_blank">http://1drv.ms/1AfcPrI</a></li>
	</ul>

	<br /><br />
	<div><b>My other app(s) :</b><br /><br /></div>
	<ul>
		<li><a href="http://spaodata.apphb.com/" target="_blank">SPA OData</a></li>
		<li><a href="http://movieapp-2.apphb.com/" target="_blank">Movie App</a></li>
		<li><a href="http://ngkendo.apphb.com/" target="_blank">ngKendo</a></li>
		<li><a href="https://nodeapp-1.herokuapp.com/" target="_blank">https://nodeapp-1.herokuapp.com/</a></li>
	</ul>




</div>